@import "Assets/Styles/_index.scss";
$local-fs-1: 11px;

$local-dark-0: rgba(240, 82, 41, 0);

$local-extra-large-max: 1750px;
$local-extra-large: 1140px;
$local-medium: 720px;

.card-pd {
    &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    width: 30%;
    position: relative;
    margin: 1%;
    float: left;
    @media (min-width: $local-extra-large-max) {
        width: 24%;
        margin: 0.5%;
    }

    @media (max-width: $local-extra-large) {
        width: 45%;
        margin: 2.5%;
    }

    @media (max-width: $local-medium) {
        width: 90%;
        margin: 5%;
    }

    .work-card {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        transition: all 0.3s;
        width: 100%;
        height: 100%;
        .content {
            z-index: 5;
            transition: all 0.2s !important;
            transition-delay: 0s !important;
            width: 100%;
            height: 100%;
            bottom: 0;
            position: absolute;
            background-color: $local-dark-0;
            color: transparent;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            align-items: center;
            .inner_flex {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .desc {
                @include styleText($local-fs-1, $fw-2, $color-white-0);
                width: 100%;
                visibility: hidden;
                opacity: 0;
                transition: all 1.2s;
            }
            .partners {
                margin-top: 20px;
                font-family: "Montserrat";
                color: $color-white-0;
                font-size: 18px;
                font-weight: 600;
                visibility: hidden;
                opacity: 0;
                transition: all 1.2s;
            }
        }

        .card-background {
            width: 100%;
            height: 100%;
            object-position: 50%;
            object-fit: cover;
        }
        &:hover {
            transform: translateY(-5px);
            .content {
                background-color: rgba(0, 0, 0, 0.5);

                .desc,
                .partners {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
