@import "Assets/Styles/_index.scss";
.contact-container {
  height: 100vh;
  .contact-content {
    height: 100%;
    @media screen and (max-width: 840px) {
      height: 80%;
      overflow: auto;
      position: relative;
      top: 150px;
    }
    @media screen and (max-width: 414px) {
      height: 80%;
      overflow: auto;
      position: relative;
      top: 122px;
    }
    @media screen and (max-width: 375px) {
      height: 80%;
      overflow: auto;
      position: relative;
      top: 116px;
    }

    header {
      height: 18%;
      h1 {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 700;
        color: #000;
        position: relative;
        text-align: center;
        padding: 60px 0;
        user-select: none;
        cursor: text;
        visibility: hidden;
        @media (max-width: 480px) {
          padding: 30px 0;
          font-size: 30px;
        }
      }
    }
    .box-map {
      height: 82%;
      display: flex;
      @media screen and (max-width: 840px) {
        display: block;
      }
    }
    .map-child {
      width: 50%;
      @media screen and (max-width: 840px) {
        width: 100%;
      }
      iframe,
      .info {
        width: 100%;
        height: 100%;
      }
      .info {
        background: #663cc5;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        min-height: 396px;
        justify-content: space-between;

        .top {
          font-size: 16px;
          line-height: 1.6;
          color: $color-white-0;
          padding: 12.8%;
          @media (max-width: 1311px) {
            padding-top: 18.8%;
            padding-left: 18.8%;
          }
          p {
            user-select: none;
            cursor: text;
            font-weight: 300;
            font-size: 14px;
          }
        }
        .bottom {
          padding: 12.8%;
          @media (max-width: 1311px) {
            padding-bottom: 18.8%;
            padding-right: 18.8%;
          }
          color: $color-white-0;
          text-align: end;
          .title {
            user-select: none;
            cursor: text;
            font-size: 12px !important;
            font-weight: 100;
          }
          .hidden {
            width: 100%;
            height: 25px;
            background-color: transparent;
          }

          a {
            font-size: 14px;
            user-select: none;
            font-weight: 300;
            text-decoration: none;
            color: $color-white-0;
          }
        }
      }
    }
  }
}
