// Montserrat

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("./Fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

// NotoSansCJKkr
@font-face {
  font-family: "NotoSansCJKkr";
  src: url("./Fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff") format("woff");
}
