// Montserrat

// Montserrat

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./Fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-medium";
  font-weight: 100;
  src: url("./Fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("./Fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

// NotoSansCJKkr

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("./Fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.otf");
}

@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 200;
  src: url("./Fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 300;
  src: url("./Fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff") format("woff");
}
