@import "./Assets/Styles/index";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  user-select: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

#fp-nav.fp-right {
  right: 60px;
  z-index: 14;

  @include responsive("large-down") {
    right: 40px;
  }
  @include responsive("small-down") {
    right: 24px;
  }
  @include responsive("small-down") {
    right: 20px;
  }
  ul > li {
    margin: 8px 0;
    a,
    a.active {
      span {
        width: 8px;
        height: 8px;
        border-radius: 0;
        background-color: $color-white-0;
      }
    }
    a.active {
      span {
        background-color: $color-blue-0;
        margin: -2px 0 0 -2px;
      }
    }
    a {
      span {
        position: absolute;
        z-index: 1;
        border: 0;
        transition: all 0.3s !important;
        left: unset !important;
        right: 0 !important;
      }
    }
    &:hover {
      a,
      a.active {
        span {
          border-radius: 0 !important;
          margin: -2px 0 0 -2px;
          width: 8px;
          height: 8px;
          // @if (a[href="#secondPage"].active) {

          // }
        }
      }
    }

    a[href="#secondPage"],
    a[href="#thirdPage"] {
      &.active {
        span {
          background-color: $color-green-1;
        }
      }
    }

    $li: &;
    a[href="#fourthPage"] {
      &.active {
        span {
          background-color: $color-blue-1;
        }
        // [dir="rtl"] & {
        //   // margin-left: 0;
        //   background: red;
        //   // margin-right: 10px;
        // }
        #{$li} {
          a {
            span {
              background-color: red;
            }
          }
        }
      }
    }
    a[href="#fivePage"] {
      &.active {
        span {
          background-color: $color-green-1;
        }
      }
    }
    a.page-four {
      span {
        background-color: $color-blue-0;
      }
    }
  }
}
